@import './common/var.scss';
@import './icon.scss';
@import './mixins/function.scss';
@import './component-global/wuHanFightingGlobal.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, SF UI Text, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  color: $--color-text-primary;
  font-size: $--font-size-base;
  -webkit-font-smoothing: antialiased;
  background: $--color-white;
  overflow-x: hidden;
  //overflow: hidden;
}
body.has-mask {
  overflow: hidden!important;
}



.v-modal-enter {
  animation: v-modal-in 0.2s ease;
}

.v-modal-leave {
  animation: v-modal-out 0.2s ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
  }
}

@keyframes v-modal-out {
  0% {
  }
  100% {
    opacity: 0;
  }
}

.v-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $--index-top;
}

.tc-popup-parent--hidden {
  overflow: hidden;
}
